@CHARSET "UTF-8";

.button1 {
	background-color:lightgray;
	border:2px outset lightgray;
  text-decoration:none;
  font-size:11px;
  height:22px;
  width:44px;
  padding-top:2px;
  color:black;
  text-align:center;
}

.button2 {
	background-color:lightgray;
	border:2px outset lightgray;
  text-decoration:none;
  font-size:11px;
  height:16px;
  width:40px;
  display:inline-block;
  padding-top:2px;
  color:black;
  text-align:center;
}