@CHARSET "UTF-8";
html {
/*   border: 1px solid blue; */
  height: 100%;	
}

body {
	height: 100%;
/* 	border: 1px solid red; */
  margin: 0px;
  padding: 0px;
  font-size: small;
}

img {
  vertical-align: middle;
}

header {
  position: relative;
  height: 50px;
  line-height: 50px;
  background-color: black;
  color: white;
  min-width: 600px;
}

aside#menu {
  width: 180px;
  position: absolute;
  left: 0px;
  top: 0px; 
  margin: 0px;
  background-color: #ffcc00;
  opacity: 1;
}

aside#preview {
  width: 180px;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px;
  background-color: #59f;
}

section {
  margin-left: 181px;
  padding: 0px 10px;
  min-width: 300px;
}

footer {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 60px;
  text-align: center;
}

#coupon {
  position: fixed;
  
  left: 0px;
  top: 200px;
}

#ohora {
  width: 50px;
  position: absolute; 
  right: 10px;
  bottom: 0px;
}

#dotori {
  width: 30px;
}

#title {
  position: relative;
  left: -20px;
  top: 5px;
}

#post-box {
  border-style: none;
  display: inline-block;
  height: 44px;
  width: 80px;
  position: absolute;
  right: 5px;
}

#post-img {
  height: 40px;
}

#count {
  border: 3px solid white;
  color: white;
  border-radius: 3px;
  background: blue;
  padding: 3px;
  font-weight: bolder;
  font-size: 1.2em;
  position: relative;
  left: 60px;
  top: -6px;
}

#main {
	height: 100%; 
  position: relative;
  width: 800px;
  margin: 0px auto 0px auto;
  border-top: 1px solid white; 
}
