<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration><!-- mybatis 설정 정보를 표현하는 최상위 엘리먼트(root element) -->
  <environments default="development"> <!-- DBMS 접속 정보들 -->
    <environment id="development"> <!-- DBMS 접속 정보 -->
      <transactionManager type="JDBC"/> <!-- 트랜잭션 관리자 -->
      <dataSource type="POOLED"> <!-- 커넥션 풀 관리자 -->
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers> <!-- SQL 파일 경로 정보들 -->
    <mapper resource="org/mybatis/example/BlogMapper.xml"/> <!-- SQL 파일 경로 정보 -->
  </mappers>
</configuration>